[2019-08-31 22:47] meelash commented on #1393
Can you specify what is incorrect about Gitlab issue parsing? Maybe a screenshot of what is happening? This is what I am getting locally for when I paste this issue into the search: https://gitlab.com/cmdevs/ColonialMarines/issues/7481
![Screen Shot 2019-08-31 at 6 46 19 PM](https://user-images.githubusercontent.com/59001/64069797-c0127b80-cc1f-11e9-92e4-edf0607d611f.png)

[2019-08-31 23:12] meelash commented on #1393
Is the live version up-to-date with the latest master?

If so, maybe the issue is related to corrupted data. Could possibly be an expired or invalid gitlab access token, although I've seen behavior that makes me doubt that.

[2019-08-31 23:13] meelash commented on #1393
One general issue I have noticed, is that if the initial parse fails for some reason the corrupt data is stored and now there is no way to update it. Should we be checking for updates on the source site every time the page is loaded to keep it up to date?

[2019-09-01 15:31] tuxayo commented on #1367
Thanks @Cervator Is there a way to get a badge for a specific bounty?

[2019-09-01 15:38] tuxayo commented on #1367
@dandv can you edit [your message](https://github.com/geany/geany/issues/1117#issuecomment-243916305) to get the code of the badge that you put there?

[2019-09-01 22:39] dandv commented on #1367
@tuxayo: did you mean you wanted the code I used? You can use the "Quote reply" context menu for the comment to get that. Anyway, here it is:

[code]

[2019-09-02 05:40] tuxayo commented on #1367
Thanks a lot! :D

Using Quote reply, I get a non-dynamic version
[code]

[2019-09-02 07:07] tuxayo commented on #499
He he he
@alexgleason Thanks for the workaround. Even if unpractical, I shows that it's not far from working.

[2019-09-02 07:12] tuxayo commented on #499
Would it work to reach GitLab Inc. ? To contribute to the bounty (now at 260 USD) of maybe one of their dev could that a look at it.

[![Bountysource](https://api.bountysource.com/badge/issue?issue_id=1449676)](https://www.bountysource.com/issues/1449676-add-support-for-gitlab)

[2019-09-02 07:14] tuxayo commented on #1367
Should I open a new issue to ask for reintroducing the UI for generate the markdown snippet? Or should I rename this one?

[2019-09-02 08:27] manhnt9 commented on #499
Could someone open an issue here for GitLab staff to consider? https://gitlab.com/gitlab-org/gitlab-ce/issues

[2019-09-02 14:02] sahalsaad commented on #1394
Fixed in #1395 pr.

[2019-09-05 08:28] ThomasWaldmann opened #1396 "Inconsistency and bad UI/UX"
https://www.bountysource.com/issues/73385627-buy-stickers

Until today, this bounty was at USD 40.

I wanted to increase it to USD 100, taking USD 60 from borgbackup org funds.

So I put USD 60 into the "checkout box" on the right side of the page and clicked **CHECKOUT**.

Nothing happened for several seconds (no progress / loading indication, no redirect to final confirmation page, nothing), so

[2019-09-05 08:33] ThomasWaldmann commented on #1396
This might also point to non-transactional behavior in **the** textbook example of what transactions are needed for (drawing money from one account and putting it somewhere else - it must never happen that money is drawn, but not put).

[2019-09-05 08:48] ThomasWaldmann commented on #1396
I also tried to see some overview of the org account balance by date, but didn't find that view.

Something like:
[code]
I wanted to check if xxx was really 220 USD, because I vagely remember it was something different.

[2019-09-07 22:04] BrandonDyer64 opened #1397 "Internal server error on paypal payment"
I paid $15 to bountysource through PayPal, but I get an internal server error on the redirect back. The money seems to have vanished into thin air

[2019-09-08 09:49] thecyberd3m0n commented on #1088
Maybe stop supporting PayPal and support more cryptos.

Paypal fraud would be prevented
Cashouts would be immediate
You would provide great service and you can use Metamask or even gerenate keys on frontend using JS

[2019-09-12 03:26] johanlives commented on #1393
Thanks @meelash
The issue was solved internally and required access to other system.
I appreciate your help and have credited your Bountysource account with token of appreciation
This issue will be closed

[2019-09-12 03:26] #1393 closed

[2019-09-13 14:05] #1397 closed

[2019-09-13 19:29] ThomasWaldmann commented on #1396
Ah, nice it got resolved already.

Any idea where I can see a statement of account for my personal account as well as for the org account?

[2019-09-14 12:16] ad-m commented on #1162
I published bounty to help solve that issue: https://www.bountysource.com/issues/52891773-bitcoin-temporarily-disabled

[2019-09-16 08:00] tuxayo commented on #1368
Same.
To the devs: here is receipt that shows this issue: https://www.bountysource.com/orders/109468?receipt=1

[2019-09-17 03:50] #1394 closed

[2019-09-17 03:51] #1383 closed

[2019-09-18 09:38] ThomasWaldmann commented on #1396
ping.

[2019-09-18 09:40] ThomasWaldmann commented on #1368
Same here.

Also, note that the blank between "1" and "item" is missing.

[2019-09-19 18:31] xan2622 commented on #435
Hi. Is there still hope to see Bountysource support the Phabricator bug tracker ?

There are plenty of Blender users who might be interested in creating bounties on Blender -related bug reports / feature requests : https://developer.blender.org/

[2019-09-19 22:11] g--o opened #1398 "can't add / verify eth wallet via metamask"
Gets an error:
`angular.js:9778 Error verifying account Error: [ethjs-query] while formatting inputs '[[{"type":"string","name":"Message","value":"By signing this transaction, I prove my ownership of account undefined"}],null]' for method 'signTypedData' error: Error: [ethjs-format] hex string 'undefined' must be an alphanumeric 42 utf8 byte hex (chars: a-fA-F) string, is 0 bytes`

edit: would als

[2019-09-20 16:37] tuxayo commented on #171
Does Bountysource Salt fulfills this need? https://salt.bountysource.com/

[2019-10-24 13:37] 6543 opened #1399 "Support Gitea Issues"
as title

[2019-10-28 13:51] jjzmajic commented on #1121
Updates on this?

[2019-10-30 16:34] volas opened #1401 "Fix Synchronization Issues between Github and Bountysource"
support@ ignores my email, so now I'm here!

We have one issue that was closed long time ago on Github, but still open on Bountysource:
https://www.bountysource.com/issues/60516752-proposal
``https://github.com/TauCetiStation/TauCetiClassic/issues/2594``

And I can do nothing about it. The worst part - it's very rude and emotional message, and I can't even edit the text.

[2019-10-31 11:33] volas commented on #1401
And now this is top backed issue on our bountysource page :sweat_smile:

[2019-11-05 13:02] mehdipik61 opened #1402 "Mr mehdi"
Hi hiw are you

[2019-12-28 05:15] zozorg commented on #1391
CanYa is supposed to be a "crypto" business, but have a look at crypto bounties. The "market values" displayed are those at the time the bounties were offered... In 18 months no one cared to update them in spite of ethereum losing two third of its value, and even though there are so few it could literally be done manually.
As dead as it can be.

[2020-01-16 23:38] 6543 commented on #1360
Gogs and Gitea have both a similar API ...
 * Gogs: https://github.com/gogs/docs-api/tree/master/Issues
 * Gitea: https://gitea.com/api/swagger#/issue/issueListIssues

Gitea's API has more endpoints/features and information ...
but the basic stuff should work for both

[2020-01-20 01:54] #1402 closed

[2020-01-20 01:54] johanlives commented on #1402
Please contact support@bountysource.com for all enquiries

[2020-01-20 01:55] johanlives commented on #1399
Please email support@bountysource.com for all support enquiries.

[2020-01-20 01:55] #1399 closed

[2020-01-20 01:57] #1380 closed

[2020-01-20 02:37] johanlives opened #1411 "Fix the Bountsource Github Plugin / Integration Tool"
## ISSUE

The Github plugin is currently not working.
Normally available via Home/Tools (https://www.bountysource.com/tools)

## REQUIRED
Needs a fix.

[2020-01-20 03:43] #1362 closed

[2020-01-20 03:46] johanlives commented on #1381
Please email support@bountysource.com for all account deletions.
This is reflected in the FAQ,

[2020-01-20 03:46] johanlives commented on #1381
Thanks @Cervator

[2020-01-20 03:46] #1381 closed

[2020-01-20 03:49] #1355 closed

[2020-01-22 19:18] alphashuro commented on #1411
Hi @johanlives, can you give a bit more detail explaining what you mean by "is currently not working"? The following would be very helpful:
1. What you were trying to do
2. The steps you too
3. What you expected vs what actually happened

I've set up the project locally, run through the code and tested it on my own account and it seems to be working correctly, so I just need to understand the diff

[2020-01-22 23:41] licarijd commented on #1411
I've successfully created an account via Github auth, signed out, and signed out again. Integration appears to be working as expected. Has this been resolved?

[2020-01-24 00:11] johanlives commented on #1411
Hi  there,

We've had some reports that the Github ticket won't get a footer nor the
labels updated for changes on the platform.

I'm glad you've got it running locally.  That could come in handy for some
future bounties.  By the way, do you have experience with Heroku
optimization?

Cheers

Johan

On Thu, Jan 23, 2020 at 9:41 AM Justin Licari <notifications@github.com>
wrote:

[2020-01-24 00:13] johanlives commented on #1411
There are reports that the Github ticket won't get a footer nor the labels updated for changes on the platform.

[2020-01-27 14:35] jjzmajic opened #1413 "API seems to be broken"
According to the official [spec](https://bountysource.github.io/) `GET /bounties/{id}` is supposed to give information on that specific bounty, but it seem to return 404 regardless of the validity of the id.

[code]
Am I doing something wrong?

[2020-01-30 20:02] H05ted commented on #1411
Working fine
![зображення](https://user-images.githubusercontent.com/34539338/73485607-155be000-43ac-11ea-8e1e-9d92e4a4a357.png)

![зображення](https://user-images.githubusercontent.com/34539338/73485682-3de3da00-43ac-11ea-9c5d-398d020fb49f.png)

[2020-02-01 18:56] PeterDaveHello commented on #1023
@sivaraam  Looks like the issue still exists, the function is still not working.

[2020-02-04 02:40] #1390 closed

[2020-02-04 02:43] #1391 closed

[2020-02-04 02:44] johanlives commented on #1365
Paypal is the only current cashout method available

[2020-02-04 02:44] #1365 closed

[2020-02-04 02:45] #1376 closed

[2020-02-04 02:47] #903 closed

[2020-02-04 02:48] #900 closed

[2020-02-04 02:48] johanlives commented on #876
Coinbase disabled long ago.

[2020-02-04 02:48] #876 closed

[2020-02-04 02:48] johanlives commented on #863
BTC bounties disabled long ago

[2020-02-04 02:48] #863 closed

[2020-02-04 02:49] #856 closed

[2020-02-04 02:52] #995 closed

[2020-02-04 02:52] #972 closed

[2020-02-04 02:54] johanlives commented on #1088
In the

In the event of a significant bounty payout and no Paypal is available to the developer, we may organise a wire.  Please get in contact at support@bountysource.com to discuss

[2020-02-04 02:54] #1088 closed

[2020-02-04 02:55] johanlives commented on #1080
Coinbase account disabled long ago. Closing.

[2020-02-04 02:55] #1080 closed

[2020-02-04 03:16] XVilka commented on #1390
For those who will find this issue - there is an open-source and free of charge alternative, that supports various cryptocurrencies and allows to set bounties on GitHub issues - [jollheef/donate](https://github.com/jollheef/donate).

This is how it looks [in the GitHub issue](https://github.com/jollheef/donate/issues/8)

![image](https://user-images.githubusercontent.com/203261/73710690-a978cf00-4

[2020-02-04 03:17] XVilka commented on #1136
For those who is still curious in BCH bounties - there is an open-source and free of charge alternative, that supports various cryptocurrencies and allows to set bounties on GitHub issues - [jollheef/donate](https://github.com/jollheef/donate).

This is how it looks [in the GitHub issue](https://github.com/jollheef/donate/issues/8)

![image](https://user-images.githubusercontent.com/203261/7371069

[2020-02-04 03:57] martindale commented on #863
Why?

[2020-02-11 21:36] tuxayo commented on #1413
Indeed, badges are broken.

[![Bountysource](
https://api.bountysource.com/badge/issue?issue_id=79559410
)](
https://www.bountysource.com/issues/79559410-thunderbird-68-0
)

[2020-02-12 09:56] rbeer commented on #1413
That link works for me
![Screenshot_20200212-105509](https://user-images.githubusercontent.com/3411649/74323721-3cd88280-4d86-11ea-955d-bf12fa615179.jpg)

The badge you added here also shows
![Screenshot_20200212-105534](https://user-images.githubusercontent.com/3411649/74323751-49f57180-4d86-11ea-8610-3db328c14bd1.jpg)

[2020-02-12 13:11] tgiphil commented on #1009
I have the same problem with:

![image](https://user-images.githubusercontent.com/124747/74337924-1864b200-4d56-11ea-9590-f0f3d7389d18.png)

https://github.com/mosa/MOSA-Project

Can anyone help?

[2020-02-12 13:13] tgiphil opened #1414 "Tracker has already been taken"
Help! Can this be fixed?

![image](https://user-images.githubusercontent.com/124747/74338016-40ecac00-4d56-11ea-88aa-4deeb9cb0c2f.png)

[2020-02-24 04:39] alphashuro commented on #1411
@johanlives just reminding you to close this...

[2020-02-24 04:50] johanlives commented on #1411
Thanks Alpha

[2020-02-24 04:50] #1411 closed

[2020-02-24 04:52] johanlives commented on #1413
Are you still experiencing issues here?

[2020-02-24 05:01] johanlives commented on #1414
Hi Phil,

Can you send me an email at support@bountysource.com, thanks

[2020-02-24 05:01] #1414 closed

[2020-02-24 05:08] johanlives commented on #1401
A bounty has been posted on this issue.

We need to know why the sync isn't working in this instance.    Intermittent syncing issues have occurred in the past but normally resolve given time.

Can you find the reason for this persistent syncing issue?

[2020-02-24 05:24] johanlives commented on #1372
A bounty has been placed on this issue.
Just direct back the home page on Bountysource

[2020-02-26 01:52] #1372 closed

[2020-02-26 02:03] #1235 closed

[2020-03-03 08:24] johanlives opened #1420 "Remove Bancor Widget from Navbar"
### ISSUE
The "Get CAN" button in the navbar toggles the Bancor widget.
This crypto token standard is deprecated and needs to be removed.

### REQUIRED
-Remove the "Get  CAN" Button &  Bancor Widget from the Navbar
-Remove associated code

![image](https://user-images.githubusercontent.com/32894591/75755721-e655d700-5d7a-11ea-97f3-dd2b17c368d8.png)

[2020-03-03 08:50] alphashuro commented on #1420
Hey Johan, I've submitted a PR here https://github.com/bountysource/core/pull/1421

[2020-03-03 08:51] johanlives commented on #1401
Bounty increased by $50

[2020-03-04 16:22] alphashuro commented on #1420
Hey @johanlives is there anything still pending on this issue?

[2020-03-05 04:21] #1420 closed

[2020-03-05 04:23] johanlives commented on #1420
Closed, you can now claim

[2020-03-06 22:04] alphashuro commented on #1401
Hi @johanlives, the issue was that the production db had a character limit of 255 chars on the `labels` column for the issues table, and thus the indicated issue was not being saved during syncing. I've fixed this by changing it to a much larger number, and the change worked on my local machine so I changed the prod db as well and we should see the issue synced successfully on Bountysource as well

[2020-03-08 18:09] volas commented on #1401
@johanlives @alphashuro issue now closed on bountysource too, thanks!

[2020-03-08 23:54] johanlives commented on #1401
Thanks Alpha, seems to have done the trick

[2020-03-08 23:54] #1401 closed

[2020-03-09 18:53] mr-tron commented on #1392
It's very strange. In available languages also there are not many popular languages like python, golang, rust, ruby, php and many overs. I found only C++ and Objective-C++ from list of most popular languages.

[2020-03-10 05:29] #1023 closed

[2020-03-12 03:26] necrose99 opened #1424 "stellar lumens support"
keybase often uses

and free airdrop means i got a few to roast.

add stellar/lumens to bounty source account , have a nice day...

[2020-03-12 06:45] johanlives opened #1425 "Fix the Github Integration"
### ISSUE
Bountysource Github integration is not 100% functional.   We have mixed reports of user success.
An initial investigation suggests we're hitting the API rate limits when we call GitHub.

### REQUIRED
Implement a rate limiter.
In order to mitigate potential UX issues, we need:
* The UI to advise the user that we are processing the request
* Queue up the requests with rate limiting
* Then

[2020-03-12 13:17] LightingGamesPvtLmt commented on #1335
I've Got The Same Error. You Must Be Using .Net Core, Have You Solved It?

[2020-03-23 01:03] johanlives opened #1426 "Upgrade PostgreSQL 9.4 databases before April 20, 2020"
### ISSUE
The PostgreSQL community no longer supports the major version 9.4 since February 2020.
Bountysource uses AWS RDS Engine version 9.4.20

### REQUIRED
Updrade before April 20, 2020

[2020-03-23 07:57] johanlives commented on #1425
Thanks Alpha

[2020-03-23 07:57] #1425 closed

[2020-03-23 08:36] johanlives opened #1430 "Fix the Bountysource staging pipeline on Heroku"
## ISSUE
Staging on Heroku is broken
We need to fix the pipeline so issues don't affect production

## REQUIRED
Fix the pipeline on Heroku

[2020-03-24 13:32] peey opened #1431 "CORS issues, pages are blank"
I tried looking at [this page](https://www.bountysource.com/trackers/68393-habitrpg?utm_source=68393&utm_medium=shield&utm_campaign=TRACKER_BADGE), but I can't

This is what I see in the console

![image](https://user-images.githubusercontent.com/4688870/77430857-d96c5680-6e01-11ea-9190-a3a34f44b668.png)

Text:

Tried in both firefox and chrome

[2020-04-02 22:14] tuxayo opened #1432 "UX: GitHub outages are not handled to tell the user that it's the cause of the error and"
I though Bountysource had a issue it itself. So I came here to report to GitHub was broken.

The messages on Bountysource are
[code]

or
![Screenshot_2020-04-03_00-13-46](https://user-images.githubusercontent.com/2678215/78304914-06c2ae00-7540-11ea-8743-1fbbb49c7113.png)

[2020-04-02 22:15] tuxayo commented on #1432
The errors were one bounty pages: https://www.bountysource.com/issues/79559410-thunderbird-68-0

[2020-04-02 22:16] tuxayo opened #1433 "GitHub outage shoudn't break bounty pages not linked to GitHub"
Same errors as in #1432 when going to a bounty linked with a Bugzilla instance: https://www.bountysource.com/issues/90834026-implement-rtx-for-webrtc

[2020-04-03 04:42] johanlives opened #1434 "Resolve Bountysource API outages"
### ISSUE
Bountysource is experiencing major outages.
The API is breaking and Heroku is logging 10,00's of critical errors (H12).
Dyno restarts resolve the issue temporarily but we need to investigate and identify the underlying 'causes.

### REQUIRED

- [ ] Identify the issues

- [ ] Propose a solution

[2020-04-03 04:46] johanlives opened #1435 "Implement 'ApprovalHelp stop SALT spam teams"

[2020-04-03 05:38] jjzmajic commented on #1413
`{'error': 'Method not found'}`

With that exact code.

Sorry for the late reply, given my time constraints I had to get another source of bounty data for my paper. I hope you manage to resolve this eventually though, the more options the better!

[2020-04-05 18:43] AlexWayfer opened #1437 "Change Twitter permissions to read-only"
Hello.

I wanted to link my Twitter account.

But I've found out that you're asking for write permissions.

Why? If it's not necessary — please, change it.

![image](https://user-images.githubusercontent.com/6510020/78507034-72965800-7786-11ea-9bcf-98391142098c.png)

[2020-04-05 18:45] AlexWayfer opened #1438 "Internal server error after Twitter linking cancellation"
Hello.

On page from #1437 I'm pressing "Cancel" and getting 500 error:

![image](https://user-images.githubusercontent.com/6510020/78507076-b1c4a900-7786-11ea-9942-682f33052d49.png)

[2020-04-06 04:32] johanlives commented on #1434
@alphashuro , reopening for continued work, bounty increased

[2020-04-06 07:23] #1434 closed

[2020-04-06 21:16] johanlives commented on #1438
Hi @AlexWayfer
Yeah, we've had some site issues recently that are now resolved.

[2020-04-06 21:16] #1438 closed

[2020-04-06 21:20] johanlives opened #1443 "Update Bountysource Dependencies"
### ISSUE
It has been a long time since Bountysource dependencies have been looked at/upgraded.
It also makes it had to set up a build.

[2020-04-06 21:22] johanlives opened #1444 "Remove unnecessary Order By from queries"
### ISSUE
ORDER BY forces the DB to sort the entire table unnecessarily

[2020-04-06 22:17] johanlives commented on #1432
Hi @tuxayo
We've just resolved some issues relating to the recent site outages.

[2020-04-06 22:17] #1432 closed

[2020-04-06 22:18] johanlives commented on #1433
Hi @tuxayo
It was a problem with Bountysource API with underlying backend systems issues.  We've just resolved some issues relating to these outages.

[2020-04-06 22:18] #1433 closed

[2020-04-06 22:19] johanlives commented on #1431
Hi @peey
Thanks>
We've just resolved some issues relating to the recent site outages.

[2020-04-06 22:19] #1431 closed

[2020-04-06 22:20] johanlives commented on #1426
Closing as this was resolved in https://github.com/bountysource/core/issues/1426

[2020-04-06 22:20] #1426 closed

[2020-04-06 22:20] johanlives commented on #1413
We've just resolved some issues relating to the recept API breaks and site outages

[2020-04-06 22:20] #1413 closed

[2020-04-06 22:27] tuxayo commented on #1433
Thanks a lot :D

[2020-04-07 02:31] tuxayo commented on #435
For the record there is some kind of initial (broken) support:
- some Phabricator ticket: https://dev.getsol.us/T6658
- go to bountysource
- paste the URL in the **upper search field**
- you get https://www.bountysource.com/issues/90857118-t6658-openjdk-openjfx-upgrade-experiment

Even though it's marked as closed, it still managed to extract some info from this Phabricator instance.

[2020-04-07 02:34] tuxayo commented on #435
@rappo can you add a badge in the issue description to have a dynamic amount for this bounty?
Code:
[code]
Result:
[![Amount of the bounty on Bountysource](
https://api.bountysource.com/badge/issue?issue_id=1384856
)](
https://www.bountysource.com/issues/1384856-add-support-for-phabricator
)

[2020-04-07 03:46] tuxayo commented on #499
@manhnt9

Here is a draft. Feedback requested:
- https://gitlab.com/gitlab-org/gitlab/-/issues/
- click on new
- title «Get GitLab supported  in Bountysource»
- template: feature proposal:
- body: paste the following (scroll for rendered preview )
[code]

## Rendered result
### Problem to solve
Same as #26778 (Ability to add bounties to issues) but using the external service Bountysource. (Which i

[2020-04-07 04:21] tuxayo opened #1445 "Missing ticket history"
Maybe it's a dup of the recent API issues.

example of missing history:
https://www.bountysource.com/issues/1384856-add-support-for-phabricator

Also reproduce on a bunch of bounties from the front page of bountysource

[2020-04-07 05:35] manhnt9 commented on #499
@tuxayo thank you very much. It looks great! I think we should make it more clear and polite in the `Proposal` part so they'd really consider it.

[2020-04-07 07:01] tuxayo commented on #499
Do you have a precise wording in mind? I don't have much inspiration.

[2020-04-07 07:15] manhnt9 commented on #499
How do you think about this description?
[code]
### Proposal
#### Help us get more attention on this feature
GitLab can consider to add bounty for this feature on [Bountysource](https://www.bountysource.com/issues/1449676-add-support-for-gitlab) and help us share it in your teams and on the Internet. So the community would know and help us implement it sooner.

#### Help us implement this feature

[2020-04-07 07:45] johanlives commented on #1444
Fixed in https://github.com/bountysource/core/pull/1442

[2020-04-07 07:45] #1444 closed

[2020-04-08 11:17] peey commented on #1431
Yep, works now. Thanks!

[2020-04-09 00:37] johanlives opened #1446 "Fix email notification issues"
### ISSUE
Email signup notifications are not being received.
Or, are received after severe delays

This is causing issues with user signups / signins.

### REQUIRED
Investigate & fix

[2020-04-09 04:24] tuxayo commented on #499
Nice, can I make the following changes?

↓

------

↓

[2020-04-09 06:19] manhnt9 commented on #499
Sure, of course! That's obviously better.

[2020-04-09 13:09] rosa2 commented on #1446
I have had this problem with 2 different emails last 2 days.
Thanks for the tool

[2020-04-11 15:14] trialism commented on #1446
I'm also having this issue. The email confirmation limit is two hours but the verification emails come 6-10 hours later.

[2020-04-11 21:36] FrancescoBorzi opened #1447 "GitHub plugin broken: Reason: undefined method `title' for nil:NilClass"
Hi, the GitHub plugin doesn't work for my project anymore:

https://github.com/azerothcore/Keira3

This is the error I get in https://www.bountysource.com/tools/installed

![image](https://user-images.githubusercontent.com/75517/79055419-3b73eb00-7c4d-11ea-824c-33adc6e2c959.png)

[2020-04-12 15:31] droidmonkey opened #1448 "Add support for emoji definitions in bounty label"
The tool to automatically put a bounty label on issues works well. However, when you try to add a emoji such as `:moneybag:` it fails to apply. :moneybag:

[2020-04-12 15:42] droidmonkey commented on #1447
I had to uncheck the "The plugin is locked" then click save to restore functionality.

[2020-04-12 16:07] FrancescoBorzi commented on #1447
@droidmonkey I tried that, it didn't work

[2020-04-13 07:05] brymut commented on #1445
Hi, starting to have a look at this today. Will update when I have something.

[2020-04-13 11:14] #1446 closed

[2020-04-16 06:46] brymut commented on #1445
Looks like it was an issue with the `find( :id` parameter used in https://github.com/bountysource/core/blob/82426a75d26fc0a6409eda157562fa2182ce7621/app/controllers/api/v2/timeline_controller.rb#L54
making the method call incorrect, affecting the API then the issue history displayed in the frontend.

Setting up the Pull request.

[2020-04-23 16:33] DaMatrix opened #1458 ""Application error" on PayPal payment"
I just attempted to open a $10 bounty on [this issue](https://www.bountysource.com/issues/73128761-troubles-with-chunks), with the payment being completed over PayPal. After completing the transaction on PayPal's end, I was redirected to the following page:

![screenshot](https://i.daporkchop.net/G7HzoUNM.png)

The transaction went through, and shows up in my PayPal history, however neither [the i

[2020-04-23 16:53] DaMatrix commented on #1458
It's just gone through, albeit over 25 minutes late. Never mind...

[2020-04-23 16:53] #1458 closed

[2020-04-24 06:28] 444nix commented on #1430
Is this open to the public? I'm a devops engineer and would love to work on this. How can I get started?

[2020-04-24 21:29] #1445 closed

[2020-04-25 19:53] painor commented on #1080
so is there currently no way to cashout with bitcoin unless we contact the support ?

[2020-04-26 08:53] #1443 closed

[2020-04-26 11:39] alphashuro commented on #1430
Hi @444nix, unfortunately I have already made significant progress on this and it is something only one person can do at a time;

[2020-04-29 23:46] OndrejMalek opened #1460 "BS not working - Projects not loading"
BountySource is basicaly not usable. Project do not get displayed ever.
Tried in Firefox , Chrom (without extensions)

This is output from console in Chrome:
[code]
Firefox Console (Using uBlock):
[code]

My location - Centra Europel , Czechia

[2020-04-30 08:36] alexxcons opened #1461 "Bountysource shows open bug as 'closed'"
https://www.bountysource.com/issues/91303660-

I would like to put money on that bug, but it is not possible, since it is shown as 'closed'

If I follow the link "show in bugzilla", the bug clearly is still open (see attached screenshot)

Possibly related to the current general slowness of bountysource.com ?

[2020-04-30 08:37] alexxcons commented on #1461
![Bildschirmfoto_2020-04-30_10-34-16](https://user-images.githubusercontent.com/2205293/80690059-8e172900-8ace-11ea-93bb-9359a516f5b6.png)

[2020-05-04 05:26] johanlives opened #1464 "BUG - Bounty Checkout Receipt $NaN error"
### ISSUE

Bounty Checkout Receipt gives $NaN error

![image](https://user-images.githubusercontent.com/32894591/80938187-8384c880-8e1b-11ea-91f5-7d7f64941758.png)

[2020-05-04 07:24] johanlives opened #1465 "BUG - Bounty payments not displayed (for successful payments)"
### ISSUE

**Bounty details are not displayed on issue page:s**.
* Bounty payments
* Bounty amounts
* Backer details

**Payment is successful:**
The payment has been debited from backers Paypal account.
The admin page for the issue has registered as funded

Eg. https://www.bountysource.com/issues/59613396-choose-alternative-download-location-in-settings-external-sd

![image](https://user-images.gi

[2020-05-04 07:50] johanlives opened #1466 "Investigate API Issues"
### ISSUE

There are persistent issues with the Bountysource API.

Eg.
#### 1 - Trying to delete an account in admin
![image](https://user-images.githubusercontent.com/32894591/80945627-8c7f9500-8e2f-11ea-9ee9-96d5709d73c2.png)

#### 2 - Attempting to view an issue in admin
![image](https://user-images.githubusercontent.com/32894591/80945739-d2d4f400-8e2f-11ea-9f85-a011ef02b735.png)

#### 3 - Load

[2020-05-04 10:29] volas opened #1467 "Bountysource didn't fetch issues from github"
https://www.bountysource.com/teams/taucetistation/issues
https://github.com/TauCetiStation/TauCetiClassic

Github:
![Снимок экрана от 2020-05-04 13-26-02](https://user-images.githubusercontent.com/4064061/80956950-e0c44e00-8e0a-11ea-990f-13e735a75d80.png)

Bountysource:
![Снимок экрана от 2020-05-04 13-19-16](https://user-images.githubusercontent.com/4064061/80956499-0ac94080-8e0a-11ea-9a03-a5b0b1

[2020-05-04 15:05] brymut commented on #1465
Having a go at this over the week.

[2020-05-05 07:55] volas commented on #1467
It works again. MAGIC.

[2020-05-05 07:55] #1467 closed

[2020-05-05 19:53] samtygier opened #1468 "Not clear how to sign up by email"
It is not clear how to create a new account with an email address. These is no link or button to create an account on the home page or on the sign in page.

It is possible, just really well hidden.

![Screenshot at 2020-05-05 20-50-20](https://user-images.githubusercontent.com/1113988/81109546-2c155400-8f12-11ea-812d-d76639d2fe60.png)

[2020-05-07 00:27] Phoenix616 opened #1469 "Cannot verify ETH address with MetaMask"
Pressing the "Add through Metamask" button shows the following errors in the debug console:

Using:
- Chromium 84.0.4128.0
- MetaMask 7.7.9

[code]
[code]

[2020-05-07 15:01] nijel opened #1470 "GitHub plugin"
The GitHub plugin locks regularly with following error:

Reason: PG::UniqueViolation: ERROR: duplicate key value violates unique constraint "index_linked_accounts_on_uid_and_type" DETAIL: Key (uid, type)=(39604003, LinkedAccount::Github::Bot) already exists. : UPDATE "linked_accounts" SET "type" = 'LinkedAccount::Github::Bot', "updated_at" = '2020-05-04 05:19:03.094210', "cloudinary_id" = 'https:/

[2020-05-08 16:22] clbr opened #1471 "E-mail notifications not going out"
A couple weeks ago, I sent a claim, and a day later it was approved. Now I have a pending cashout for a week. No emails for any of these, not even in spam. Seems something broke during the last downtime, when Bountysource was down for a few days ~3 weeks ago?

[2020-05-08 16:46] drastik commented on #1466
I see CORS errors when trying to create an account also.

[2020-05-08 16:48] drastik commented on #1468
Agreed, that was very unexpected when the form changed after entering an email not in the system.

Had thought up to that point I was SOL.  You still can't create an account due to CORS errors when returning from email verification [ see: #1466 ]  (email takes roughly 12hrs to send as well).

[2020-05-09 18:47] marcelklehr opened #1473 "Bountysource.com is down"
![image](https://user-images.githubusercontent.com/986878/81482285-3008e500-9236-11ea-915b-9f050b1fa9db.png)

I'm not sure if you're aware.

[2020-05-09 18:54] sivaraam commented on #1473
Yeah, I face the same error page.

[2020-05-11 02:04] johanlives commented on #1473
We are aware,  thanks

[2020-05-11 02:04] #1473 closed

[2020-05-11 02:09] johanlives commented on #1469
Hi @Phoenix616
We are working several Bountysource maintenance & improvement issues.
Crypto is not a popular payment method presently and it fix is currently lower than other critical services and functions.
We will update when there is an ETA

[2020-05-11 20:19] marcelklehr opened #1474 "Github issue is displayed as open even though closed"
https://www.bountysource.com/issues/1692470-add-sharing-use-share-api

The issue has been closed and reopened in the past.

[2020-05-12 00:21] Phoenix616 commented on #1469
Would be nice if claims would work without Metamask verification of addresses for the meantime.

[2020-05-14 07:29] Azekthi commented on #1466
I'm also seeing CORS errors when trying to update my profile. Below is Firefox's console when trying to save my profile:

![image](https://user-images.githubusercontent.com/11371137/81905708-14357400-9593-11ea-9971-ecedaada136d.png)

[2020-05-14 11:17] brymut commented on #1465
Hi again @johanlives, I think I've figured out why the backer details aren't being shown, will open PR, however, I can't reproduce the bounty amount issue you mentioned with the link. Is there another issue with the same problem? Or a way I can reproduce it on my own.

[2020-05-14 21:27] brymut commented on #1464
I can check this out over the next couple of days

[2020-05-17 00:02] MichaelAtOz opened #1477 "GitHub Committer Tools - plug-in in inconsistent state"
I sent this to 'support@bountysource.com'. Have an update so may as well do it here.

Git project https://github.com/openscad/openscad
Bounty team https://www.bountysource.com/teams/openscad

I originally said

Not getting 'Want to back this issue? Post a bounty on it! We accept bounties via Bountysource.'

That is no longer the case, BUT it is very slow to change the Git issue.

I then mentioned,

[2020-05-17 06:49] #1430 closed

[2020-05-17 06:51] johanlives commented on #1464
Hey @brymut I put a small  bounty on this, https://www.bountysource.com/issues/91340373-bug-bounty-checkout-receipt-nan-error

[2020-05-17 06:57] brymut commented on #1464
Thanks @johanlives, seen it.

[2020-05-17 15:54] ImUrX commented on #1464
Was this fixed or is it still giving out NaN?

[2020-05-17 21:05] Amraneze commented on #1464
@johanlives, @brymut  was the bug fixed or not yet ?

[2020-05-17 21:09] brymut commented on #1464
its fixed. @ImUrX @Amraneze

[2020-05-19 15:29] ImUrX commented on #1464
then the issue needs to be closed for claiming the reward @brymut

[2020-05-20 03:37] #1465 closed

[2020-05-20 07:31] #1464 closed

[2020-05-20 08:41] #1471 closed

[2020-05-20 08:41] johanlives commented on #1471
Notifications are back

[2020-05-20 08:59] brymut commented on #1465
HI again @johanlives, just wanted to check if this is all sorted?

[2020-05-22 10:52] DaMatrix opened #1484 "CORS issues"
Just tried making some changes to a project configured using GitHub Committer tools, and after hitting save it loads forever. The browser log is showing cross-origin access errors:
![screenshot](https://i.daporkchop.net/95nVg4RY.png)

Possibly related to #1475

[2020-05-24 23:35] johanlives opened #1486 "Fix Admin Send Cash Out"
### ISSUE

Admin Function broken

Cannot register cashout as Sent in /admin/cash_outs/pending

![image](https://user-images.githubusercontent.com/32894591/82767439-ed1c5380-9e6a-11ea-97d0-8e2c181e9d6f.png)

![image](https://user-images.githubusercontent.com/32894591/82767423-d118b200-9e6a-11ea-8a2f-6dbe4d412598.png)

### REQUIRED

Fix Issue

[2020-05-24 23:53] johanlives opened #1487 "Fix Salt Routing Issue"
### ISSUE

![image](https://user-images.githubusercontent.com/32894591/82767794-7b91d480-9e6d-11ea-86b7-6d01775b8e3a.png)

SALT is returned 404 - Route not found

### Fix Salt

[2020-05-24 23:55] johanlives opened #1488 "Fix Admin Delete Account"
### ISSUE

Cannot delete account via Admin

![image](https://user-images.githubusercontent.com/32894591/82767849-e4794c80-9e6d-11ea-8fae-362be3d51786.png)

[2020-05-25 00:02] johanlives opened #1489 "Sync issues for bounty claims"
### ISSUE

Issues are not syncing with Github.

This means closed issues on Github are not showing as closed on Bountysource and therefore hunters cannot claim bounties.

### REQUIRED

We need to
1.  Investigate & Fix sync, or
2.  Build a force sync / force closed function for admin.
The shouldn't be too hard to force an update with the Github API issue status, right?

[2020-05-26 04:23] johanlives opened #1490 "Fix Accept/Reject Bounty Claim"
### ISSUE

User cannot reject or claim bounties.

![image](https://user-images.githubusercontent.com/32894591/82860279-6e9fde80-9f5c-11ea-901f-cceaa2fd5f45.png)

[2020-05-28 17:17] brymut commented on #1486
Will have a look, at these issues, they seem related

[2020-05-30 14:54] tkwatson63 opened #1491 "Accessibility"
I am visually impaired and use a screen reader to navigate my computer and the web. Yesterday I attempted to delete an integration from HA and was surprised to find that it was not possible anymore. I asked for sighted assistance and found that the icon to delete an integration was not accessible by my screen reader. My daughter clicked on the icon and then I was able to remove it. Sort of worries

[2020-05-30 19:43] WhyNotHugo commented on #1484
Editing one's profile in https://www.bountysource.com/settings doesn't work either:

![2020-05-30T21:42:21,165979797+02:00](https://user-images.githubusercontent.com/730811/83337810-d718f380-a2ad-11ea-854c-2ad1bfe6b3e3.png)

Reproduced in Firefox on both Linux and iOS.

[2020-06-01 04:10] johanlives opened #1492 "Add admin feature to manually 'close' bounty"
### ISSUE
Bountysource was engineered to sync Github data but this is now causing app & DB loads, syncing and maintenance issues.

Bountysource bounty closures are failing or being delayed due to syncing issues while the site issues persist and fixes are undertaken.

This means bounty hunters cannot claim bounties.

### REQUIRED
Add an admin feature to manually close bountysource issues.

[2020-06-02 07:54] dpocock opened #1493 "Investigate & Fix failing email verification"
I received the email containing the verification link

Clicking the link, it takes me to a page with the title "Verifying..." and a progress bar.

The progress bar moves to 100% and it sits on this page without doing anything.

After 5 minutes, I tried clicking "Sign In" and it told me the email address hasn't been verified yet.

[2020-06-04 05:18] johanlives commented on #1493
I'm putting a bounty on this.

### ISSUE
There are multiple reports of user unable to sign-up, or reset due to email verification process failing.
This persists and does not seem related to the recent delayed_jobs & DB issues.

### REQUIRED
Investigate fault
Propose / Implement solution

[2020-06-04 05:43] johanlives commented on #1492
Thanks @alphashuro

[2020-06-04 05:43] #1492 closed

[2020-06-04 05:51] johanlives commented on #1493
Thanks for the fix @alphashuro.
Test seems to work.

[2020-06-04 05:51] johanlives commented on #1493
@dpocock
Can you please retry and confirm?
Thanks

[2020-06-04 05:51] #1493 closed

[2020-06-04 05:56] johanlives commented on #1489
This has been largely been solved.

We also have a new admin tool to force close in the event of sync issues in the future to allow users to get on with the claim process.

For any remaining sync issue, please email support@bountysource.com and we will fix ASAP.

Regards

Johan

[2020-06-04 05:56] #1489 closed

[2020-06-04 05:56] johanlives commented on #1484
These have largely been resolved.
Please let us know at support@bountysource.com if you continue to experience issues.

[2020-06-04 05:56] #1484 closed

[2020-06-04 05:57] johanlives commented on #1474
This has been largely been solved.

We also have a new admin tool to force close in the event of sync issues in the future to allow users to get on with the claim process.

For any remaining Github sync issues, please email support@bountysource.com and we will fix ASAP.

Regards

Johan

[2020-06-04 05:57] #1474 closed

[2020-06-04 05:57] johanlives commented on #1486
Resolved

[2020-06-04 05:57] #1486 closed

[2020-06-04 05:57] johanlives commented on #1490
Resolved

[2020-06-04 05:57] #1490 closed

[2020-06-04 05:58] johanlives commented on #1461
This has been largely been solved.

We also have a new admin tool to force close/open in the event of sync issues in the future to allow users to get on with the claim/bounty process.

For any remaining sync issue, please email support@bountysource.com and we will fix ASAP.

Regards

Johan

[2020-06-04 05:58] #1461 closed

[2020-06-04 05:59] johanlives commented on #1468
Email verification process was broken but is largely resolved now along with CORS errors.
Please let us know at support@bountysource.com if this persists for you

[2020-06-04 05:59] #1468 closed

[2020-06-04 06:19] brymut commented on #1486
@alphashuro Could you please public notify people you're working on something? Feels like I wasted my time.

[2020-06-04 06:30] johanlives commented on #1460
Resolved

[2020-06-04 06:30] #1460 closed

[2020-06-04 06:30] johanlives commented on #1398
Duplicate

[2020-06-04 06:30] #1398 closed

[2020-06-04 06:31] johanlives commented on #1368
Solved https://github.com/bountysource/core/issues/1464

[2020-06-04 06:31] #1368 closed

[2020-06-04 07:08] johanlives commented on #1486
Hi @brymut
This was entirely my fault.
I'm sorry I wasted your time.
I'll message you on TG about resolving this with you

[2020-06-04 07:20] alexxcons commented on #1461
Thanks alot for fixing it !
(xfce just moved to gitlab .. so now the mentioned bug is closed on purpose :) )

[2020-06-04 07:32] samtygier commented on #1468
There is still no visible way to create an account.

Could you add a "create account" button?

[2020-06-12 01:28] #1488 closed

[2020-06-12 01:28] #1487 closed

[2020-06-14 20:56] lmamane commented on #486
Adding my vote to this long-standing issue. Any reason Bountysource Salt accepts stripe / credit cards but not straight Bountysource?

[2020-06-17 12:12] castilma opened #1497 "Update FAQ to contain point 2.13 of new Terms of Service"
Title.

IIUC, if no one succesfully claims a bounty 2 years after it has been posted, the whole money goes to Bountysource.
That's a very important point for users of the platform to know.

IMHO, this will now be a major drawback of Bountysource, as it effectively turns your bounty into a bet against Bountysource, saying, that your issue will be resolved in less than 2 years.

I hope, though, that

[2020-06-17 13:39] Phoenix616 commented on #1497
I don't think you misunderstood that, it's pretty clearly stated that the money goes to the company if not claimed.

Can't wait how companies [like IBM](https://www.bountysource.com/issues/38471802-update-the-altivec-vsx-to-be-on-par-with-the-other-accelerated-architectures) react to having their money effectively stolen, without even a warning when putting down the money (still says "Expires: Nev

[2020-06-17 13:40] Phoenix616 commented on #1469
This should be fixed asap now that claims will expire after two years. Otherwise people will not be able to claim their ETH bounties...

[2020-06-17 18:22] lmamane commented on #486
With today's TOS change of expiring two-year old bounties and Bountysource keeping the money, I lost interest in using Bountysource, even if you added non-Paypal options.

[2020-06-17 23:34] ccoenen commented on #1497
My interpretation of that point was also the same. I find this outrageous. Doing a thing like that, a cash grab of that magnitude with money that **clearly was intended for something _very_ different**, seems like it should be against the law.

[2020-06-17 23:42] johanlives commented on #1497
New ToS has been withdrawn. https://github.com/bountysource/core/pull/1498
ToS will be revised and clarified and in the future

[2020-06-17 23:42] #1497 closed

[2020-06-18 08:28] dreua commented on #1497
@ bountysource bosses:
While you're at it, please also consider revising and clarifying point 2.9 of the ToS:

Do that well with a humble apology and you might be able to regain some of the trust you just lost.

[2020-06-22 06:39] johanlives opened #1502 "Fix bounty totals that are not displaying correctly"
### ISSUE

Bounty totals are not displaying correctly.
Bounties have been received and registered. Backers show correct breakdown.

![image](https://user-images.githubusercontent.com/32894591/85256074-d9363280-b4a6-11ea-8b7f-c10be55e41ef.png)

### REQUIRED
Investigate & Fix

[2020-06-22 17:58] keunes commented on #409
I'm surprised that 1,5 year later Bountysource still hasn't succeeded in making its site GDPR-compliant.

[2020-06-24 11:02] gianpaj commented on #1502
Does this still need to be worked on?

[2020-06-24 23:56] johanlives commented on #1502
Yes

[2020-06-30 09:00] #1502 closed

[2020-07-11 11:01] zhming0 opened #1513 "Unable to select "just this time" donation and system overrides it to "per month""
I believe there is a bug that user can't select "just this time" donation type.

**How to reproduce the bug:**
- Go to a donation page (I used Neovim in my example)
- Select "Just this time" payment and enter the amount
- Click "Continue"
- Check the "Amount" value in next page

**Expecting to see:**

Something like "$xxx just this time"

**Actual:**

"$xxx per month"

As per the screen recording

[2020-07-15 11:01] vrms opened #1514 "how to repurpose funds?"
I am posting this here, beacuase I can not find the solution anywhere, nor an exhausting expanation of the procedure required

I have put some funds on a [bounty which has not been solved](https://www.bountysource.com/issues/81449218-v12-1-6-decimals-in-currencies-not-working). Now I want to use these funds and put them onto another bounty of my choice.

how do I do this practically?

[2020-07-23 08:28] tomtau commented on #1514
I have the same issue.
In FAQ: https://github.com/bountysource/core/wiki/Frequently-Asked-Questions#can-i-receive-a-refund-for-a-bounty-i-posted
so one should contact support@bountysource.com for refunds or reallocating the funds -- but in my experience, nothing happens after contacting support@bountysource.com ☹️

[2020-07-28 10:07] 62mkv commented on #1514
are they still alive even? I have seen somewhere mentioned in passing that the project is no longer active (( would be cool to see that stated somewhere on the website as well!

[2020-08-05 21:18] Mourad-R commented on #1514
Bountysource was recently acquired by The Blockchain Group and we are working on the whole website and its infrastructure for first optimization and development afterwards, for your question the bountys can be refunded or moved to another bounty,  contact support@bountysource.com we will respond to your request quickly.  Thank you

[2020-08-05 21:21] Mourad-R commented on #1513
Thanks, we will fix this bug soon.

[2020-08-05 21:23] #1384 closed

[2020-08-13 17:52] netrules commented on #1030
How about the OWasp guidelines for a forgot password service? I don't think we're being compliant here given that it is first checking if the provided e-mail exists, which I don't think of as a vulnerability.

https://cheatsheetseries.owasp.org/cheatsheets/Forgot_Password_Cheat_Sheet.html

Dunno if that fits into scope or if bounty should be increased. I am taking interest in this, however.

[2020-08-24 17:04] barkovv commented on #1466
Same issue when just opening the site. It's unusable.
![image](https://user-images.githubusercontent.com/5094065/91074221-e7d6cc80-e644-11ea-86ab-a6aa4ebbc3e8.png)

[2020-09-20 06:46] Felipe1198 commented on #1148
Rtt

[2020-09-20 06:49] Felipe1198 commented on #1155
Tttt

[2020-10-29 12:53] Mourad-R commented on #1466
Fixed

[2020-10-29 12:53] #1466 closed

[2020-10-31 14:09] xan2622 commented on #435
Hi.

What is the status of this "feature" ?
Will we soon be able to place bounties on Phabricator issues ?

[2020-11-07 14:23] abebeos opened #1522 "void"

[2020-11-23 19:29] src-r-r opened #1523 "Docker build: bundler version mismatch for bountysource service"
# Setup
- Docker Host: Ubuntu 20.04
- Docker Version: Docker version 19.03.13, build 4484c46d9d
- Bountysource revision: 0fd673adb4fa8eddeeec230c4e4751f855ddbadf

# Reproduction

Clone bountysource-core

Modify the env file as needed

[code]
Seems to be this is an issue in one of the docker-compose files.

[2020-11-23 19:38] src-r-r commented on #1523
I'll get a PR for this issue soon, but the fix is this:
Change `Gemfile`:
[code]
Change `Gemfile.lock`, at the bottom:
[code]

[2020-11-23 20:25] src-r-r commented on #1523
Created a PR for this issue: https://github.com/bountysource/core/pull/1524

[2020-12-18 20:05] ivelin opened #1526 "unable to add repo to team"
After entering github repo URL, there is no indication whether its added or not to the team. No Add or + button that I can see.

![Screen Shot 2020-12-18 at 2 02 40 PM](https://user-images.githubusercontent.com/2234901/102656703-e708ff80-4139-11eb-9810-a8a66a8dbebd.png)

[2021-01-13 09:21] p-m commented on #1390
Hi,
It seems, that jollheef/donate does not exist any more. Is there any other solution please for paying with BTC or DASH?
TIA for any hints, Peter

[2021-01-18 20:00] #1522 closed

[2021-01-24 10:07] hubyhuby commented on #409
This is a terrible service.
You send this kind of junk email saying you have to pay for innactivity . AND you cannot delete your account !!!
This is against the European GDPR laws! YOu have to stop this quickely.
We have the right to manage and delete our datas in Europe.

"
Your Bountysource account has been debited with an inactivity fee.

This fee is charged to earning accounts that do no withd

[2021-02-21 19:38] allanlaal opened #1528 "ADD Filter to show bounties from repos I've starred on github"

[2021-03-01 20:23] CodeMouse92 commented on #1364
I'm for this. Mailspring (which I'm the community manager for) and Phacility both do this.

[2021-03-20 17:39] istnv commented on #1469
This is still does not work.
Linux/Ubuntu with Chrome 89.0.4389.90 or Firefox 86.0

[2021-03-28 23:14] kaovilai commented on #1469
I can't pay with crypto due to similar metamask error so the point that crypto is not popular is to be expected due to broken functionality.

[2021-05-07 23:15] abebeos opened #1531 "5th payout request, 5th problem (delays)"
What is going on with you? And stop with this "we work with volunteers" - this is invalid, as you get a 10% cut.

My 6th cash-out has now a super-problem, as I do not get any response to my repeated reminder-emails.

Please fix your processes.

[2021-05-07 23:52] abebeos opened #1532 "[COMPLAINT] Dispute Fraud, Bounty Awarded without Awaiting the votes."
It looks like someone at bountysource manually intervened to bypass an ongoing voting/dispute-process:

https://www.bountysource.com/issues/84630749-avr-convert-the-backend-to-mode_cc-so-it-can-be-kept-in-future-releases

Voting/dispute period was till May 15th.

Most backers (including the top 3 backers which represent 80% of the bounty value) did not even had the opportunity to vote.

Thus, at t

[2021-05-16 19:34] abebeos commented on #1531
got it after 18 days. An eternity, and possibly the top-most unprofessional cashout-processing I've ever seen.

[2021-05-16 19:34] #1531 closed

[2021-05-29 23:30] kemono-bugs opened #1536 "How to award bounty"
Hello, sorry, I'm new to this platform. I recently created a bounty for an issue, and a developer has solved the Github issue and closed it; however, the issue on Bountysource didn't close with it. How do I close the Bountysource issue and award the developer the bounty?

https://github.com/OpenYiff/Kitsune/issues/2
https://www.bountysource.com/issues/98580361-discord-importer

[2021-06-07 03:40] #1536 closed

[2021-06-11 14:12] ffMathy opened #1537 "Questions regarding Bountysource"
1. Is it correct that I can't refund a bounty?
2. Do bounties that are set to not expire still expire after some implicit max-expiration time?
3. What happens to issues that are expired? Is the amount refunded, or is it given to Bountysource?
4. What happens to issues that are closed, with no one claiming the bounty? Is the amount given to Bountysource, or is it refunded?

[2021-06-18 19:52] istnv opened #1538 "Unable to collect crypto bounty"
I was awarded a bounty weeks ago. Despite several payout requests, it is still sitting in crypto pending-approval.

[2021-06-19 23:05] WafflesK opened #1539 "What is wrong with your support and cash out process?"
I requested cash out almost a month ago and it's still pending. Your support is ignoring my emails.

You happily take money, take 10% cut on cash out and ignore all cash out requests and emails. What is wrong with you? This is the most garbage service I have ever encountered.

[2021-06-22 20:04] aster94 commented on #1539
Same here

[2021-06-22 20:04] aster94 opened #1540 "cash back"
I want this bounty removed and my money back

https://www.bountysource.com/issues/98272677-cbi-compatibility

[2021-06-23 14:33] Speedwares commented on #1539
Same here been messaging support and no one is answering

[2021-06-24 18:29] NickDoom-IDKFA opened #1541 ""Reverse Kickstarter" option for supporting bigger projects from scratch."
For example, I want to order a development of a mini-PCIe video card for old laptops (BTW in fact, I actually want to).
I calculate a reasonable price for one card and place an initial bounty. Placing it creates a project anyone can join (and pay the same amount for each card). After collecting enough money, a manufacturer can take the project, develop this card and produce the test bunch. Each su

[2021-06-24 22:09] megashub commented on #1539
Hell, I can't even reset my password to get logged in. The site doesn't even send the reset email despite saying it found my address. This is nothing more than a cash grab at this point. Avoid at all costs.

[2021-06-26 10:34] FrancescoBorzi commented on #1539
Same here.

[2021-06-26 12:24] Winfidonarleyan commented on #1539
Same here :/

[2021-06-26 13:57] braewoods commented on #1539
Same here. The website is pointless now if there's no way to actually get paid.

[2021-06-26 16:39] FrancescoBorzi commented on #1539
@NoNonsense126 @wkonkel @alphashuro @hjchan @JalenOng @Mourad-R @KevinSia @BinaryFissionGames @johanlives @brymut can anyone please give an answer to us? why has the support team stopped answering our messages? is Bountysource going bankrupt or just having some issues which will be addressed? At least let us know

[2021-06-26 17:15] BinaryFissionGames commented on #1539
@FrancescoBorzi I know you just tagged a bunch of contributors to hopefully get some answers from someone who knows, but I just made one pull request back in 2017, I have no idea what's going on with bountysource.

It was/is a cool idea, but it obviously doesn't work when there is no transparency or support. Back when I made that PR, there was, like, 2 dudes working on it while also working their

[2021-06-26 17:30] FrancescoBorzi commented on #1539
@BinaryFissionGames thanks for your honest answer, I appreciate it.

[2021-06-26 19:22] istnv commented on #1539
I've been trying for weeks to get paid a bounty earned in early April (#1538)

[2021-06-29 05:34] megashub commented on #1539
I contacted the blockchain group and was forwarded to the new director they assigned to run the site: Nicolas le Herissier. His email address is: nleherissier@theblockchain-group.com

here's what I sent:
Hello,

Please understand I don't say any of this out of malice. Your apparent neglect of bountysource.com has, in effect, meant that people who have contributed bounties cannot access their money

[2021-06-29 08:12] FrancescoBorzi commented on #1539
@megashub I can confirm I had a very similar experience as yours (I contacted Nicolas etc...) and, thanks to him, some of our developers started getting their bounties again. I hope they will keep fixing all Bountysource issues!

[2021-07-01 16:38] braewoods commented on #1539
There's also other issues like just being able to claim bounties in a timely manner. Their system takes forever to notice when an issue has been closed in the upstream repository. It's been over 2 weeks by now for some of my bounties and I still cannot claim them. But the far worse one is just being able to "cash out" as if you can't do that the BountySource funds are effectively equivalent to dig

[2021-07-01 16:45] megashub commented on #1539
Please contact Nicolas and post your experience here for transparency, and to help others to do the same who may find this later. He's committed to addressing cash-outs and claims quickly. So let's hold him accountable to following through on that. 

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐

On Thursday, July 1st, 2021 at 9:38 AM, braewoods ***@***.***> wrote:

[2021-07-01 16:47] braewoods commented on #1539
@megashub But that's the thing. We shouldn't *have* to do this. The cash out process is initiated through their system so they should already have all the information they need to know who is left to be processed.

[2021-07-01 16:51] megashub commented on #1539
I agree. We shouldn't. But here we are. I can't even reset my password. Their system is borked. I think they're doing it all manually. But who knows. ‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐

On Thursday, July 1st, 2021 at 9:47 AM, braewoods ***@***.***> wrote:

[2021-07-05 14:44] Speedwares commented on #1539
It would also be awesome if anyone on here let us all know if they receive theirs. I don't know how long they plan to use to distribute all the pending ones and if it's still being processed on Fridays only.

[2021-07-12 09:14] venkataramkrishna opened #1542 "Iam getting this error while sending an image"
MongoError: file with id 2021-06-24T12:17:35.773Z-Provider Spotlight  not opened for writing     at Function.create (/var/www/html/socialapi/node_modules/mongoose/node_modules/mongodb/lib/core/error.js:57:12)     at /var/www/html/socialapi/node_modules/mongoose/node_modules/mongodb/lib/gridfs/grid_store.js:955:22     at executeCallback (/var/www/html/socialapi/node_modules/mongoose/node_modules/mo

[2021-07-12 09:17] venkataramkrishna commented on #1542
@antenore @BinaryFissionGames

[2021-07-14 23:11] WafflesK commented on #1539
Still nothing. ~1.5 months since I asked for cash out...

[2021-07-15 13:10] abmyii commented on #1539
I also sent him an email a week ago with no reply.

[2021-07-16 06:04] megashub commented on #1539
Best of luck on your cash-out. It's radio silence from blockchaingroup's Bountysource Director Nicolas Le Herissier these days, after committing me in email that his new team will make it all better.

Here are some email addresses you can try for help:
Xavier Latil: xl@theblockchain-group.com (CEO)
Lia Almeida: lia@theblockchain-group.com (COO)
Nicolas Le Herissier: nleherissier@theblockchain-grou

[2021-07-16 09:15] abmyii commented on #1539
Thank you for compiling this list of emails!

Also, what rights do bounty posters have in terms of their cash that is being held by BountySource?

[2021-07-16 11:07] m3nu commented on #1539
Chargeback via PayPal should be feasible, if there is no other response. Possible for any donations made over the previous 6 months. Of course, this will create a big chaos if parts are already paid out. So I'll observe for a few more days and start chargebacks next week. Ultimately up to the good folks from TBG on how they want to proceed from here.

[2021-07-16 12:48] abmyii commented on #1539
Even after 2 years?

[2021-07-16 14:07] m3nu commented on #1539
You can claim back payments made in the last 6 months.

[2021-07-16 16:01] abmyii commented on #1539
There goes $200 I guess - eternally stuck in limbo...

[2021-07-19 09:51] jorisgeer commented on #1539
I have updated the Wikipedia article to include this issue.

[2021-07-27 07:17] m3nu commented on #1539
Any movement here? Anyone got payouts? If not, I need to start raising disputes with PayPal now to claw back all donations from the past few months. Very annoying.

[2021-07-27 14:31] runja87 opened #1544 "Invalid JSON RPC response on OpenSea"
Hello all,

When try to cancel a listing on opensea I get an error "Invalid JSON RPC response: {"id":96,"jsonrpc":"2.0"}".
Issue is reproducible on any Chrome,Brave,FF,Edge.

Brave is up to date
Version 1.27.108 Chromium: 92.0.4515.107 (Official Build) (64-bit)

Edition	Windows 10 Pro
Version	20H2
Installed on	‎15-‎Jun-‎21
OS build	19042.1110
Experience	Windows Feature Experience Pack 120.2212.353

[2021-07-27 15:48] FrancescoBorzi commented on #1539
I can confirm that I got answers from Nicolas Le Herissier: nleherissier@theblockchain-group.com

I suggest to send him an email before starting the disputes

[2021-07-27 20:53] abmyii commented on #1539
Not so for me...

[2021-07-29 23:22] remyabel commented on #1539
He responds but still hasn't processed my payout (it's been a month).

[2021-07-30 07:35] m3nu commented on #1539
I'm talking to Xavier Latil on Linkedin. He's also referring to Nicolas le Herissier, the new Bountysource CEO. I've dropped them and email and CCed @ThomasWaldmann.

Until they can resolve it, I've raised a dispute and the case is already with PayPal due to be decided within the next days. Once that's through, I'll do any overdue payments related to the [Borg](https://github.com/borgbackup/borg)

[2021-07-30 15:55] m3nu commented on #1539
Got a promising response today saying they processed most pending payouts.

If not, please submit your registered email for checking to `rebecca [ at ] theblockchain-group.com` and CC myself at `hello [at] borgbase.com`, so I also see what's going on until all works normally again.

@remyabel @abmyii @megashub @ThomasWaldmann

[2021-07-30 16:03] abmyii commented on #1539
Done, thank you very much for your efforts.

[2021-07-31 21:17] remyabel commented on #1539
Also sent an e-mail.

[2021-08-02 04:02] istnv commented on #1539
Sent emails (again). I have never had a response from either Nicholas or Rebecca.

[2021-08-03 14:04] remyabel commented on #1539
Cool I *finally* got paid. Thank you @m3nu for your persistence.

[2021-08-03 15:41] m3nu commented on #1539
Great, how about you, @ThomasWaldmann? Since I need to close the disputes against them if they are cooperating.

[2021-08-12 20:57] mar-v-in opened #1546 "Internal server error when signing in using GitHub Account"
I'm seeing the following response (on https://api.bountysource.com/auth/github/callback?code=XXX&state=YYY) when trying to sign in using mit GitHub account, which I used as a login method to my existing Bountysource account.

[code]

Additionally, I can't use the "forgot password" feature with my registered e-mail address (it doesn't send the email), probably because I never had a password set (as

[2021-08-13 06:49] remyabel commented on #1539
I can't even log into bountysource anymore, I get an internal server error. Not worth the pain, honestly.

[2021-08-13 08:41] m3nu commented on #1539
Logging in works as of now. What are good alternatives that allow linking a Github issue to 💰?

[2021-08-13 14:17] WafflesK commented on #1539
"Processed most payments" huh, sounds like bs to me. Mine is still pending.

Sent an email, let's see if they will answer.

[2021-08-20 03:56] marcovelon opened #1547 "MetaMask integration is broken"
Trying to create a bounty and clicking 'Add Through Metamask' button doesn't work in the following browsers:

Firefox 91.0.1 on Ubuntu Linux 20.04 and Windows 7 & 8.1
Chromium 90 on Ubuntu Linux 20.04

No errors or messages in developer console in both browsers.

Please fix this or add another way of creating bounties via crypto.

[2021-08-20 16:47] abmyii commented on #1539
Hang in there @WafflesK - it took over two months and some persistence, but I also received my bounty. Thank you again @m3nu for your efforts!

[2021-08-20 18:27] WafflesK commented on #1539
It took about a week of waiting, but I've got my money today. Huge thanks to @m3nu!

[2021-08-20 18:27] #1539 closed

[2021-08-21 13:19] ThomasWaldmann commented on #1539
<img width="796" alt="Screenshot 2021-08-21 at 15 17 54" src="https://user-images.githubusercontent.com/356103/130323078-cd0fe151-8d31-4be9-b24c-d602137cb335.png">

I also checked my paypal account - no related payment received from BS.

@WafflesK can you reopen?

[2021-08-22 04:54] m3nu commented on #1539
Please check your emails, @ThomasWaldmann. There is a lady, Rebecca, who is in charge of payouts. I brought up your case in late July, but you didn't send her the details yet. I've replied again just now. Please answer there. She will ask you some questions and then process it. Same as with the others.

[2021-08-23 04:54] chris-hatton opened #1548 "[SUPPORT] PayPal took my money and then bounty didn't get added!"
As the title says; I went through your bounty flow to add a bounty for an issue; PayPal successfully took payment from me, but  then the 'return' to bountysource errored-out and the bounty didn't get added on your website!

![image](https://user-images.githubusercontent.com/895683/130391698-9628f076-b8cc-4432-ae30-6b9245c094a1.png)

Please contact me for redacted info.

It might be significant tha

[2021-08-23 06:13] aster94 commented on #1539
I have sent email both to the bounty source support and to Nikolas but I still haven't received the money from a bounty which I would like to delete

https://www.bountysource.com/issues/98272677-cbi-compatibility

[2021-08-24 03:37] #1548 closed, assigned to nobody

[2021-08-24 03:37] chris-hatton commented on #1548
It worked in the end, just took some time.  Bears UX improvement.

[2021-09-09 09:13] jakub-trzebiatowski commented on #1546
Same here. Is it just us two, or is signing in to Bountysource not possible for GitHub-authenticated accounts? It may be a critical issue!

@alphashuro @Mourad-R Could you please take a quick look? I'd love to top-up a bounty, and I can't do that, because I'm not able to sign in...

[2021-09-09 09:15] alphashuro commented on #1546
Thank you for raising this, I'll take a look later today

[2021-09-09 09:16] jakub-trzebiatowski opened #1551 "Facebook sign-in: "App Not Setup: This app is still in development mode""
When I tried to sign in with Facebook, I got this error:

![image](https://user-images.githubusercontent.com/2590174/132658699-17058356-8db4-4dce-9280-33db14f7d2db.png)

[2021-09-11 09:46] droidmonkey opened #1552 "Can't accept bounty claim"
Trying to approve a claim on a bounty and it just runs me in a loop. Click accept, shows feedback box, enter feedback or not, click accept again, nothing gets submitted and the page resets.

https://www.bountysource.com/issues/63849610-allow-to-choose-database-from-unlock-dialog-for-auto-type-and-browser

[2021-09-12 08:36] epoberezkin commented on #1546
It is still not resolved...

[2021-09-13 18:55] connortechnology commented on #1539
I have emailed them as well regarding my payout, which has also not happened.
I too am not able to login, using the github authentication method.
Our team ZoneMinder has a lot of posted bounties, so it is a real shame that they are non functional.

[2021-09-14 03:48] m3nu commented on #1539
Payouts are still happening. Someone confirmed a payout to me just this morning after emailing Rebecca.

[2021-09-18 05:59] ghost commented on #1539
Same they're back to delays. I cashed out on Sept 9 and sent an email on Wednesday with no response. Not looking good.

[2021-09-18 06:00] Silver-Streak commented on #1546
I can confirm I'm getting this too. Which is especially worrying as today was supposed to be a payout day, and yet nothing has gone to my balances.

[2021-09-21 13:07] ale5000-git commented on #1546
@mar-v-in: I get the same error but "forgot password" worked for me.
Still I can't associate repositories to Bountysource.

[2021-09-22 14:21] Sl1mb0 commented on #1539
Why has this issue been closed if people are still not receiving payouts?

I cashed out a couple weeks ago, and still haven't heard anything.

[2021-09-22 14:41] ThomasWaldmann commented on #1539
@WafflesK please reopen, it still affects other people.

[2021-09-26 04:21] shanteadam commented on #1546
I can confirm that this error still happens. I tried to sign up to bountysource today using my github account and received the same error. This doesn't leave a great first impression about contributing to bounties using this site.

[2021-09-26 04:47] Silver-Streak commented on #1546
I apparently still had a machine with a valid cookie signed in, I was able to log in and set a normal password, so now I can log in without github.

You might be able to get it to work with forgot password as an option, like mentioned above.

However, I also have now been waiting with 2 payouts in "Processing" for 2 weeks now. I'd be hesitant to post any new bounties on this system until we see so

[2021-09-26 08:19] mar-v-in commented on #1546
- GitHub login is still broken for me
- Password reset seems to work again and allowed me to sign in
- I have a cash out pending since Aug 22. They are supposed to run each Friday...
![image](https://user-images.githubusercontent.com/994036/134799693-a586389e-007d-4c91-964f-42ee718fa72d.png)

[2021-09-26 12:38] sadko4u opened #1553 "'Cash out' request being not processed for months."
Hello!

I'm trying to cash out the fundraised money but there is no processing for my requests available:
![image](https://user-images.githubusercontent.com/12834464/134808322-12f83195-e30f-4981-9994-f57336b171c1.png)
All ther 'Refunded' cash outs have been cancelled manually by me.

The official support email doesn't respond to my questions.
This is very sad, I'm thinking on leaving the Bountysou

[2021-09-30 22:42] istnv commented on #1546
Still broken and I can't find a password reset option.

[2021-09-30 22:43] istnv commented on #1538
Six months and still unpaid.

[2021-10-01 22:32] istnv commented on #1547
Crypto is completely broken.
Even if you could create a crypto bounty, they are unable to pay when awarded.

[2021-10-04 09:14] marcovelon commented on #1547
I have found https://gitcoin.co as a solid alternative to Bountysource without any problems with crypto.

[2021-10-04 09:18] marcovelon commented on #1547
I have found a solid alternative to Bountysource without any problems with crypto - https://gitcoin.co
Started a project there already.

[2021-10-10 07:17] ArtemGr commented on #1537
In my experience ( https://www.bountysource.com/issues/89669362-rls-stuck-on-indexing ) expiration does not currently work.

[2021-10-27 21:16] connortechnology commented on #1539
Have emailed everyone again.  Will be warning our supporters to stay away from bountysource.

[2021-10-29 11:06] EmmanuelMess commented on #1552
@droidmonkey I am having the same issue, how did you fix it?

[2021-10-29 11:10] droidmonkey commented on #1552
Just waited out the time... very poor service

[2021-10-29 11:13] EmmanuelMess commented on #1552
@droidmonkey Was this one the only issue where it happened for you? Or is it happening with all bounties?

[2021-10-29 11:26] droidmonkey commented on #1552
I don't have any other bounties to award so can't test that, but seems like it is happening for others as well. Perhaps the age of the bounty or issue may have played a role.

[2021-11-01 17:55] Foggalong commented on #409
For anyone else who finds this thread, almost 8 years after the original issue was filed emailing support@bountysource.com is still how accounts are deleted. Be prepared also for _slow_ response times too, I first emailed in August but there's not been any progress yet.

[2021-11-04 12:25] niberius commented on #1546
Is this project active? I mean the [BountySource](https://www.bountysource.com/) service.
- I can't log in using GitHub due to the error
- I can't log in using e-mail address. I registered with my email but I don't see the activation email in my mailbox. Even after I clicked `Resend Confirmation Email`. I also checked the Spam folder, there's nothing there from Bountysource
- I haven't tried log i

[2021-11-08 07:12] giraffekey commented on #1546
I also get this.

[2021-11-14 15:39] TranceLove commented on #1546
Same here.

[2021-11-14 18:33] Virusmater commented on #1546
Should we put bounty on fixing this issue? Oh wait, I cannot login to do this!

[2021-11-19 13:34] tjvarghese88 commented on #409
I wanted to support the Luxcore team and signed up for a $10 monthly payment. No emails for this shit website for months and then they took out $70 just like that !!

[2021-11-19 14:31] ale5000-git commented on #1546
@mar-v-in: Have you retried recently?

[2021-11-20 18:34] ale5000-git commented on #1546
It works for me now.

[2021-11-20 18:39] mar-v-in commented on #1546
Indeed, GitHub login seems to work again. I am still waiting for a cashout, but that's a different issue. Closing this one.

[2021-11-20 18:39] #1546 closed

[2021-11-20 19:58] istnv commented on #1538
Still unpaid

[2021-11-22 16:57] kerel-fs opened #1556 "Synchronization between Github and Bountysource is broken"
:lady_beetle: **Problem**

The existing bounty for https://github.com/kerel-fs/spectranalysis/issues/1 posted in [bs: 102888571-load-satnogs-artifacts](https://www.bountysource.com/issues/102888571-load-satnogs-artifacts) can't be claimed because bountysource is showing this issue as "open" while in fact it was already fixed&closed in github.

This is a synchronisation issue which happend multiple

[2021-11-25 13:48] kerel-fs commented on #1556
Update:
After contacting support multiple times over several weeks, the (force-?)sync was performed today (the issue in Bounty Source is correctly shown as "closed" now). It appears to have happened a few hours after I sent yet another message to support, stating an ultimatum to inform bakers to open a dispute for their money.

Despite this, the Synchronization Issue described here still exists. T

[2021-12-08 05:40] yushk opened #1557 "问题列表的排序选项，可以不要每次都恢复默认从高到低，最好可以记住用户上次设置的结果"
##
![image](https://user-images.githubusercontent.com/26925527/145154255-39ed4a67-88cd-4023-a80c-41a15cbd0bc9.png)

[2022-01-02 18:49] sonninnos commented on #1539
Is the plug finally pulled then..? No mercy for these scheisters.

[2022-01-03 01:10] davidebeatrici commented on #1538
#1539

[2022-01-03 01:10] davidebeatrici commented on #1553
#1539

[2022-01-03 01:11] davidebeatrici commented on #1552
#1539

[2022-01-03 01:36] davidebeatrici commented on #1539
mumble-voip/mumble#5403

[2022-01-03 18:30] davidebeatrici commented on #1539
Looks like the website is back online, but no feedback from the company whatsoever about what happened?

[2022-01-07 14:39] eried commented on #1546
This is broken again

[2022-01-11 17:19] sonninnos commented on #1553
"Nobody seems to notice, nobody seems to care.."

[2022-01-31 16:14] bountysource-support commented on #1539
Hello all, we set a new team with a new back office.

Cashout and support issues are fixed faster than before, don't hesitate to contact the mail support « support@bountysource.zendesk.com » if you need any help.

[2022-02-01 12:53] davidbaumann commented on #1028
Hello, so what is the status here?

[2022-02-11 06:15] hexagonrecursion opened #1558 "I want to be able to set a timezone in my profile"
You display dates and times in many places in the UI such as https://app.bountysource.com/activity. Unfortunately it is difficult to be sure I interpret them correctly because I do not know the timezone they use.

Possible options:
1. **explicitly**  use UTC e.g. "Feb 8, 2022 10:20:30 AM *UTC*" instead of "Feb 8, 2022 10:20:30 AM" or "Feb 8, 2022 14:20:30 AM"
2. Allow me to set a timezone in my pr

[2022-02-11 06:28] hexagonrecursion commented on #1558
I would also find it extra reassuring if I could view explicit timezone information for every date even when it is already displayed in my preferred timezone. It is ok if I have to hover or click as long as I can get the exact info when I need it.

[2022-02-17 00:33] ghost commented on #1539
Are you really processing cash outs? I've been waiting 16 days for mine to process.

[2022-02-17 01:35] ThomasWaldmann commented on #1539
I have still months old stuff in "pending" status (and just added another payout request).

[2022-02-17 01:38] amaitland commented on #1539
I've been waiting 3 months also.

@bountysource-support Can you please proactively process all pending payouts. Not just the people who email you.

[2022-02-17 01:40] ghost commented on #1539
Yea, we shouldn't have to write an email reminder for something you already should have been notified about by your automated system.

[2022-02-23 17:13] bountysource-support commented on #1539
All the cash out requests are being processed and fastened.
Sorry for the delay, thanks for your understanding.
Don't hesitate to contact the mail support « support@bountysource.zendesk.com » if you need any help.

[2022-02-23 19:02] ghost commented on #1539
So why are many of us still waiting? Are you backlogged or something? Some honesty about the current situation would go a long way. So far all you've given us are some vague reassurances which does nothing to explain why the problem persists.

[2022-02-24 18:57] ThomasWaldmann commented on #1539
Cash-Out from July 2021 still pending for me (and also some more after that).

Update: that one was paid out meanwhile. But now having a more recent one pending...

[2022-02-25 09:59] bountysource-support commented on #1539
Hello,

Our cash out process is being improved to be faster and more efficient. Everyone will be paid the amount they are due, however if you have been waiting long or are in a hurry to get the money transferred, please do not hesitate to contact
« support@bountysource.zendesk.com » or to send us your email address so we can track your cash out.

If you have any feedback do not hesitate to share i

[2022-02-25 21:20] ghost opened #1560 "Time to leave Bounty Source"
Bounty Source has stopped issuing timely payouts to bounty hunters and if we're lucky we might get them if we beg for them. There's also unresolved technical issues that cause issues with filing a claim for a bounty even after the original issue has been closed.

All I've seen them do is issue some reassurances that do nothing to solve our problems. I cannot for the life of me see them taking resp

[2022-02-26 12:24] ghost opened #1562 "void"

[2022-02-26 12:24] abebeos commented on #1562
$2.300 (my ammount I'm waiting for, what's yours? )

[2022-02-26 12:26] abebeos commented on #1562
https://www.bountysource.com/

Total Joke:

[code]

[2022-02-26 12:42] braewoods commented on #1562
At this point I'm convinced a momentary black hole appeared at Bounty Source headquarters and swallowed all their money. It's about as plausible as any other crazy theory out there for what's going on given their radio silence.

[2022-02-28 14:22] abebeos commented on #1562
If you look at the bounties, IBM continues to file high bounties (latest $14.000):

https://app.bountysource.com/

[2022-03-01 03:09] #1560 closed, assigned to nobody

[2022-03-01 14:10] bountysource-support commented on #1562
Hello abebeos,

As we said previously, our cash out process is being improved to be faster and more efficient.

Sorry again for the delay, the customer satisfaction is our priority.
Everyone will be paid the amount they are due and your request will be processed as soon as possible.

Thank you for your patience.

[2022-03-04 15:14] abebeos commented on #1562
@bountysource-support

You have 24h to transfer my pending cashouts.

Should you not, I'll make sure that the whole IT industry is informed about your business practices.

[2022-03-04 15:57] Spresti33 commented on #1562
Hello abebeos,

The money has already been sent, you should receive it shorty.

Sorry for the delay and thank you for your patience.

[2022-03-04 16:11] abebeos commented on #1562
No, it has not been send:

![image](https://user-images.githubusercontent.com/84547391/156798757-86081b56-027d-4b2d-9f71-b70d5da44f52.png)

[2022-03-04 16:20] Spresti33 commented on #1562
The financial team has confirmed that the money has already been sent. You will receive it shortly.

Sorry for the delay and thank you for your patience.

[2022-03-04 16:25] abebeos commented on #1562
Oh, you mean the 27 people that deal with your financial stuff? Well then, all good!!!

[2022-03-05 16:52] abebeos commented on #1562
then (support ticket)

This is how it sounds when a company has no liquidity, due to embezzled funds.

Bountysource is an US company... interesting!

[2022-03-07 22:56] abebeos commented on #1562
@bountysource-support , next thing for me to do is to look where I can file a complaint re US based financial services.

Because I really think that your company needs a financial audit, to see what happened with all the bounty funds.

[2022-03-07 23:09] abebeos commented on #1562
https://bountysource.com/terms-of-service/

Not sure about US-law, but within the EU: you're not what you declare, but what your services define. Here: trust/escrow.

[2022-03-09 14:21] vibhuti019 commented on #1136
Is this still open?
I would like to work on this.

[2022-03-10 03:36] abrkn commented on #1136
No

[2022-03-10 03:36] #1136 closed

[2022-03-11 09:31] bountysource-support commented on #1562
Hi Abebeos,

Your cash out is successfully processed, you have received a confirmation email, you should have received the money.
We appologize again for the delay.

Thank you for your patience.

[2022-03-30 12:21] sohameer opened #1563 ""View on Etherscan" takes me to the extension page"
1. When my metamask connects with the Binance network then on 3 dots, displaying "vie on etherscan"
2. when I click on "view on etherscan" it takes me to the extension page
Note: It is due to empty block explorer URL
![Screenshot_1](https://user-images.githubusercontent.com/100673789/160833082-31cfab41-e8a7-4754-9e05-aea43346cbc3.png)
![MicrosoftTeams-image (10)](https://user-images.githubusercont

[2022-03-30 12:26] sohameer commented on #1563
Note: It is due to empty block explorer URL

[2022-04-28 23:52] witten opened #1567 "Add support for Gitea"
[Gitea](https://gitea.io/) is an open source project and issue tracker, popular among self-hosted projects in the free software / open source space. It looks like the Gitea project even [uses Bountysource](https://app.bountysource.com/teams/gitea/issues) for bounties!

[2022-07-29 15:41] darkyelox commented on #1546
I'm having problems with this

[2022-09-05 06:11] SunflowerPKU opened #1573 "BountySource API is broken"
I tried to access the data through [https://api.bountysource.com/](https://api.bountysource.com/), but it returned `{"error":"Method not found"}`.

[2022-09-05 12:57] 1982022 commented on #1573
I tried to access the data through https://api.bountysource.com/, but it returned {"error":"Method not found"} too.

[2022-09-05 12:58] 1982022 opened #1574 "API is broken!!!!!!!!"
I tried to access the data through https://api.bountysource.com/, but it returned {"error":"Method not found"}.